body {
    text-align: center;
}
.board {
    margin: auto;
    width: 350px;
}
.board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em;
}